on: push
jobs:
  make:
    runs-on: ubuntu-24.04
    name: ci steps for elm-interval
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - name: Keep the Flake up-to-date and healthy
        uses: DeterminateSystems/flake-checker-action@v12
        with:
          fail-mode: true
      - uses: actions/cache@v5
        name: cache elm
        with:
          path: ~/.elm
          key: ${{ runner.os }}-elm-${{ hashFiles('**/elm.json') }}
          restore-keys: |
            ${{ runner.os }}-elm-
      - uses: actions/cache@v5
        name: cache npm
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: nix develop . --command just -- check
        name: Check everything builds, passes tests, passes linters, etc
